/*
Selector {
  Property: value;
}
*/

*{
  text-align:right;
}
body {
/*background-image: url(hqdefault.jpg);*/
background-image: url(cg.png);
background-size: cover;

}

h2 + p:hover {
  color:#AA4239;
  text-align:center;
  border:5px solid rgba(255,176,170, 0.5);
  cursor: pointer;
}

p {
  color:pink;
}

p{
  color:white;
}

li{
  list-style: none;
  display:inline-block;
  color:white
}

.webtext:last-child{
  border:5px dashed  green;
}


.webtext:first-child{
  border:5px dashed  yellow;
}

.active{
  color:red;
}

#div1{
  background: rgba(0,0,255, 0.4);
}

#div2{
  background: rgba(255,0,0, 0.4);
}